@media only screen and (max-width: 600px) {
  .hmA {
    justify-content: center;
  }
  .hmAb {
    display: none;
  }
  .hmBb {
    width: auto;
  }
  .hmBa {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .hmBc {
    font-size: 26px;
    text-align: left;
    line-height: 38px;
  }
  .hmBf {
    font-size: 16px;
    line-height: 20px;
  }
  .hmBg {
    display: none;
  }
  .hmBh {
    width: 100%;
    height: 45vh;
  }
  .hmBj {
    flex-direction: column;
    margin-top: 9px;
  }
  .hmBi {
    font-size: 28px;
  }
  .hmBjA {
    width: 100%;
    height: 88vw;
    background-size: 90%;
  }
  .hmBjB {
    width: 75%;
  }
  .hmBk {
    flex-direction: column;
    align-items: flex-start;
    min-height: 350px;
  }
  .hmBkA {
    margin-left: 10%;
  }
  .hmBkC {
    display: none;
  }
  .hmBkD {
    font-size: 22px;
  }
  .hmBkE {
    display: none;
  }
  /* //////////////////////////////////////// */
  .hmB_b {
    flex-direction: column;
    padding: 20px;
    margin: 0px;
    padding-top: 30px;
    width: calc(100vw - 40px);
  }
  .hmB_bB {
    font-size: 42px;
  }
  .hmB_bD {
    font-size: 22px;
  }
  .hmB_bE {
    display: none;
  }
  .hmB_bE_mob {
    display: flex;
  }
  /* //////////////////////////////////////// */
  .hmB_a {
    padding: 30px;
  }
  .hmB_aA {
    flex-direction: column;
    align-items: flex-start;
  }
  .hmB_aAa {
    width: 100%;
  }
  .hmB_aAb {
    font-size: 28px;
  }
  .hmB_aAc {
    font-size: 16px;
  }
  .hmB_aAd {
    width: 100%;
    height: 80vw;
  }
  .hmB_aBa {
    font-size: 28px;
    padding: 30px;
  }
  .hmB_aCa {
    width: 48%;
    height: 30vw;
    margin-bottom: 16px;
  }
  .hmB_aCb {
    width: 30px;
  }
  .hmB_aCc {
    font-size: 12px;
  }
  /* ////////////////////////////////////////// */
  /* ////////////////////////////////////////// */
  /* ////////////////////////////////////////// */
  .hmC {
    background-position: 0vw 0px;
  }
  .hmC_ {
    background-position: 0vw 0px;
    flex-direction: column;
    padding: 0px 4vw;
    padding-top: 10px;
    padding-bottom: 30px;
    height: auto;
    background-position: -50vw 0px;
  }
  .hmCb {
    width: 100%;
  }
  .hmCa {
    display: none;
  }
  .hmCa_ {
    display: flex;
  }
  .hmCc {
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
  }
  .hmCd {
    font-size: 28px;
    text-align: center;
  }
  .hmCf {
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 0px 5%;
  }
  .hmCg {
    margin-bottom: 5px;
  }
  /* ////////////////////////////////////////// */
  /* ////////////////////////////////////////// */
  /* ////////////////////////////////////////// */
  /* ////////////////////////////////////////// */
  .hmD {
    padding: 20px 0px;
    align-items: center;
  }
  .hmDa {
    font-size: 28px;
  }
  .hmDc {
    width: 90%;
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-right: 0%;
    padding-bottom: 20px;
  }
  .hmDb {
    flex-direction: column;
    align-items: center;
  }
  .hmDd {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hmDe {
    align-items: center;
  }
  .hmDe {
    justify-content: center;
  }
  .hmDf {
    width: 60px;
    height: 60px;
    padding: 18px;
  }
  .hmDg {
    width: 280px;
    margin-left: -25px;
  }
  .hmDh {
    width: 280px;
    margin-left: 25px;
  }
  .hmDi {
    left: calc(50% - 50px);
    top: 10px;
    height: 260px;
  }
  .hmDj {
    left: calc(50% + 48px);
    top: 40px;
    height: 260px;
  }
  /* /////////////////////////////////////// */
  /* /////////////////////////////////////// */
  /* /////////////////////////////////////// */
  /* /////////////////////////////////////// */
  .hmE {
    height: 350px;
  }
  .hmEa {
    display: none;
  }
  .hmEb {
    width: 100%;
  }
  .hmEc {
    font-size: 28px;
    width: 100%;
  }
  /* //////////////////////////////////////// */
  /* //////////////////////////////////////// */
  /* //////////////////////////////////////// */
  /* //////////////////////////////////////// */
  .hmF {
    height: 500px;
  }
  .hmFa {
    height: 30vw;
    background-size: cover;
  }
  .hmFb {
    font-size: 22px;
  }
  .hmFc {
    font-size: 16px;
  }
  .hmFa {
    width: 70%;
  }
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  .hmGc,
  .hmGf {
    display: none;
  }
  .hmG {
    height: auto;
  }
  .hmGa {
    font-size: 28px;
    margin-top: 30px;
  }
  .hmGb {
    margin-bottom: 20px;
  }
  .hmGg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hmGgA {
    width: 90%;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #727272;
    padding: 5%;
  }
  .hmGgA:nth-last-child() {
    border: none;
  }
  .hmGgB {
    width: 90%;
  }
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  /* ///////////////////////////////////////// */
  .hmH {
    flex-direction: column;
    margin-top: 0px;
  }
  .hmHa {
    width: 90%;
    padding: 0px 5%;
    height: 482px;
  }
  .hmHb {
    margin-bottom: 15px;
  }
  .hmHh {
    width: 100%;
  }
  .hmHi {
    display: none;
  }
  .hmHj {
    height: 398px;
    padding: 0px 10%;
  }
}
