@font-face {
  font-family: Lato;
  src: url(./asset/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(./asset/Lato/Lato-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url(./asset/Lato/Lato-Black.ttf);
  font-weight: 800;
}

body {
  margin: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --p_yellow: #fdcd00;
}
